<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>
<div class="row">
<% bookmarks.each do |b| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <p><%= link_to "", [@topic, b], controller: :bookmarks, method: :delete, class: 'glyphicon glyphicon-remove pull-right' %></p>
      <p><%= link_to "", root_path, class: 'glyphicon glyphicon-heart' %><a href="<%= b.url %>" class="embedly-card" data-card-theme="light"><%= b.url %> </a></p>
      <p><%= link_to "Edit", edit_topic_bookmark_path(@topic, b), class: 'btn btn-success' %></p>
    </div>
  </div>
<% end %>
</div>
<script src="//cdn.embedly.com/widgets/platform.js"></script>