<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>
<div class="container">
<% topics.each do |t| %>
  <h3><%= link_to t.title, t %></h3>
  <% if t.bookmarks.count > 0 %>
    <div class="row">
    <% t.bookmarks.last(3).each do |b| %> 
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <p><%= link_to "", root_path, class: 'glyphicon glyphicon-heart' %></p>
          <p><a href="<%= "http://#{b.url}" %>" class="embedly-card" data-card-theme="light"><%= b.url %> </a></p>
          
        </div>
      </div>
    <% end %>
    </div>
  <% else %>
    <p>No bookmark has been added to <%= t.title %> yet, be the first to contribute to this topic!</p>
  <% end %>
<% end %>
</div>
<script src="//cdn.embedly.com/widgets/platform.js"></script>