<div class="container">
<% topics.each do |t| %>
  <h3><%= link_to t.title, t %></h3>
  <% if t.bookmarks.count > 0 %>
    <div class="row">
    <% t.bookmarks.last(3).each do |b| %> 
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/360x210/4D76BC/000000&text=site+screen+shot+here!">
          <div class="caption">
          <p><a href="<%= b.url %>"><%= b.url %> </a></p>
          <p><%= link_to "", root_path, class: 'glyphicon glyphicon-heart' %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% else %>
    <p>No bookmark has been added to <%= t.title %> yet, be the first to contribute to this topic!</p>
  <% end %>
<% end %>
</div>
