<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><%= link_to "Markit", root_path %></li>
      <% if current_user %>
        <li role="presentation"><%= link_to "Hi #{current_user.name || current_user.email}", edit_user_registration_path %></li>
        <li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li role="presentation"><%= link_to "Sign Up", new_user_registration_path %></li>
        <li role="presentation"><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    <li role="presentation"><%= link_to "Discover", topics_path %></li>
    </div>
  </ul>
</div>
<div class="container">
<<<<<<< HEAD
<% flash.each do |k,v| %>
  <%= js add_gritter(v) %>
<% end %>
=======
>>>>>>> liking
</div>

<%= yield %>

</body>
</html>
