<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><%= link_to "Markit", root_path %></li>
      <% if current_user %>
        <li role="presentation"><%= link_to "Hi #{current_user.name || current_user.email}", edit_user_registration_path %></li>
        <li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li role="presentation"><%= link_to "Sign Up", new_user_registration_path %></li>
        <li role="presentation"><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </div>
  </ul>
</div>
<div class="container">
<% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class=:"close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
    <% elsif flash[:error] %>
  <div class="alert alert-danger">
    <button type="button" class=:"close" data-dismiss="alert">&times;</button>
    <%= flash[:error] %>
  </div>
    <% elsif flash[:alert] %>
  <div class="alert alert-warning">
    <button type="button" class=:"close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
<% end %>
</div>

<%= yield %>

</body>
</html>
